body {
    background-color: #000000;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 70px;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.nav_links {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 10px;
}

.nav_links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.nav_links a.active {
    font-weight: bold;
}

.main-section {
    position: relative;
    width: 100%;
    height: 45vh;
    background-image: url('img/Bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.modern-residential {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bg-text-container {
    text-align: center;
    padding-top: 50px;
}

.bg-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.search-box {
    text-align: center;
    margin-top: 20px;
    width: 40%;
}


.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.input-container input[type="text"],
.input-container button {
    padding: 10px 20px;
    border: none;
    display: inline-block;
}


.input-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    margin-right: -10px;
}


.input-container button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px 10px 5px
}

.input-container button:hover {
  background-color: black;
  color: white;
}
